:root {
    --dark-navy: rgba(18, 29, 57, 1);
    --dark-navy-faded: rgba(18, 29, 57, .6);
    --dark-navy-pale: rgba(18, 29, 57, .35);

    --light-blue: rgba(111, 123, 155, 1);
    --light-blue-faded: rgba(111, 123, 155, .6);
    --light-blue-pale: rgba(111, 123, 155 .35);


    --baby-blue: rgba(175, 185, 210, 1);
    --baby-blue-faded: rgba(175, 185, 210, .7);
    --baby-blue-pale: rgba(175, 185, 210 .35);

    --blue-white: rgba(226, 232, 244, 1);

    --nearly-white: rgba(242, 244, 251, 1);
}


/* form */
.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.label-title {
    color: var(--dark-navy);
    margin-top: .75em;

    font-family: Work Sans, sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.input-box {
    width: 75vw;
    height: 3em;
    margin-top: .25em;
    border: .1em var(--box-color) solid ;
    font-family: Work Sans, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
}

.input-box:focus {
    outline: .2em solid var(--box-color);
}

#messageInput {
    width: 75vw;
    padding: 1em;
    height: 8em;
    resize: vertical; 
    display: block;
}

.company-disclaimer {
    font-family: Work Sans, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding-top: .2em;
}

.submit-btn {
    width: 55vw;
    height: 3em;
    background-color: var(--box-color);
    border: 0 solid white;
    margin: 1.5em auto;

    margin-top: .5em;
    margin-bottom: .8em;

    font-family: Work Sans, sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
    text-decoration: none;

    display: block;
}

.submit-btn:hover {
    width: 55vw;
    height: 3em;
    background-color: var(--dark-navy);
    color: white;
    border: 0 solid white;
}

.submit-btn:active {
    width: 55vw;
    height: 3em;
    background-color: var(--dark-navy);
    color: white;
    border: .1em solid var(--box-color);
}