:root {
    --dark-background-color: black;
    --background-color: #f8fafc;
    --primary-color: white;
    --secondary-color: rgb(40, 63, 97);
    --accent-color: rgba(165, 204, 239, 0.931);
    --dark-accent-color: rgba(40, 51, 93, 0.802);
    --nav-bg-color: rgba(0, 0, 0, 0.75);
    --button-bg-color: rgba(217, 213, 232, 0.135);
    --button-text-color: rgba(139, 156, 205, 0.341);
    --panel-bg-color: rgba(210, 218, 235, 0.823);
    --panel-border-color: rgb(40, 63, 97);
    --shadow-color: rgba(43, 44, 45, 0.584);
    --footer-bg-color: rgb(4, 1, 23);
    --footer-text-color: rgba(217, 222, 234, 1);
    --footer-text-color-faded: rgba(217, 222, 234, .25);
    --container-background: rgba(171, 180, 207, .405);
    --box-color: rgb(166, 176, 200);
    --box-border-color: rgb(91, 100, 122);
}


p, li {
    font-family: "Work Sans", Arial;
}
.gallery-title {
    background-image: linear-gradient(to bottom, var(--button-bg-color), var(--button-text-color));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;  
}
.gallery-content {
    background-color: var(--background-color);
}

.gallery-content h2 {
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.gallery-container {
    width: 76%;
    align-items: center;
    margin: auto;
    padding-bottom: 60px;
}

.gallery-item {
    margin-top: 40px;
    gap: 60px;
    display: flex;
}

.gallery-item p {
    margin-top: 0px;
}

.gallery-item li {
    color: var(secondary-color); 
    font-size: 18px;
    font-family: Arial;
}

.gallery-item img {
    width: 50%; 
    height: auto;
    max-height: 500px;
    display: block;
}

.gallery-item-img-only img {
    width: 100%; 
    height: auto;
    max-height: 500px;
    display: block;
}

.gallery-item-3-items {
    width: 33%;  
}

.gallery-item-description {
    width: 50%;  
}

 