:root {
    --dusty-blue: rgb(166, 176, 200);

    --dark-blue: rgb(4, 1, 23);
    --dark-blue-faded: rgba(4, 1, 23, .80);

    --light-blue: rgb(217, 222, 234);
    --light-blue-solid: rgba(217, 222, 234, 1);
    --light-blue-faded: rgba(217, 222, 234, .25);
    
}

/* join page banner */
.gallery-title {
    background-image: linear-gradient(to bottom, var(--light-blue-faded), var(--light-blue-solid)),
    url('../banner-images/rocket-bg.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;  
}

.definition {
    background-color: var(--dusty-blue);
    border: .2em var(--dark-blue) solid; 
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    padding-bottom: 1em;
    margin: auto;
}
.gallery-content {
    background-color: var(--light-blue);
}

.gallery-content h2 {
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.gallery-container {
    width: 76%;
    align-items: center;
    margin: auto;
    padding-bottom: 60px;
}

.gallery-item {
    margin-top: 40px;
    gap: 60px;
    display: flex;
}

.gallery-item p {
    margin-top: 0px;
}

.gallery-item li {
    color: rgb(40, 63, 97); 
    font-size: 20px;
    font-family: Arial;
}

.gallery-item img {
    width: 50%; 
    height: auto;
    max-height: 500px;
    display: block;
}

.gallery-item-img-only img {
    width: 100%; 
    height: auto;
    max-height: 500px;
    display: block;
}

.gallery-item-3-items {
    width: 33%;  
}

.gallery-item-description {
    width: 50%;  
}

p, ul {
    font-family: "Work Sans", Arial;
}
 