p, li {
    font-family: "Work Sans", Arial;
}
.gallery-title {
    background-image: linear-gradient(to bottom, var(--baby-blue-less-opaque), var(--dark-navy-faded)), url("../banner-images/18.png");
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;  
    cursor: url(../buttons/rocket.png), auto;

}
.gallery-content {
    background-color: var(--nearly-white);
}

.gallery-content h2 {
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.gallery-container {
    width: 76%;
    align-items: center;
    margin: auto;
    padding-bottom: 60px;
}

.gallery-item {
    margin-top: 40px;
    gap: 60px;
    display: flex;
}

.gallery-item p {
    margin-top: 0px;
}

.gallery-item li {
    color: var(secondary-color); 
    font-size: 18px;
    font-family: Arial;
}

.gallery-item img {
    width: 50%; 
    height: auto;
    max-height: 500px;
    display: block;
}

.gallery-item-img-only img {
    width: 100%; 
    height: auto;
    max-height: 500px;
    display: block;
}

.gallery-item-3-items {
    width: 33%;  
}

.gallery-item-description {
    width: 50%;  
}

 