/* join page banner */
.join-title {
    background-image: linear-gradient(to bottom, var(--baby-blue-less-opaque), var(--dark-navy-faded)), url("../banner-images/9.png");
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;  
    cursor: url(../buttons/rocket.png), auto;

}


/* join page main content */
.join-content {
    margin-top: 0;
    margin: auto;  
    align-items: center;
    background-color: var(--blue-white);
    padding-top: 60px;
    /* margin-bottom: 80px; */
}

/* disclaimer bubble */
.disclaimer {
    background-color: var(--light-blue-faded);
    border: .2em var(--dark-navy) solid; 
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    width: 77%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.disclaimer-text {
    color: var(--dark-navy);
    font-size: 1.8em;
    font-weight: 400;
    align-self: center;
    font-family: "Work Sans", Arial;
    line-height: 0;
}

.disclaimer-text strong{
    font-weight: 600;
}

/* pathway section */
.join-subtitle {
    color: var(--dark-navy);
    font-size: 2.4em;
    font-weight: 700;
    align-self: center;
    font-family: "Work Sans", Arial;
    line-height: 0;
    margin-top: 2em;
    margin-bottom: 0;
}

.first-pathways-row {
    width: 76%;
    margin: auto;
    display: flex;
}

.second-pathways-row {
    width: 51%;
    margin: auto;
    display: flex;
}

.pathways-section {
    padding: 50px 0;
}

.pathway {
    width: 100%;
    margin: 2em;
    justify-content: left;
    padding: 1em;
    border: .2em solid var(--light-blue);
    border-radius: 1.5em;
    background-color: rgb(240, 244, 252);
    white-space: normal;
    min-width: 20vw;
    box-shadow: 6px 6px 8px var(--light-blue-pale);
    margin-bottom: 1em;
}
.pathway:hover {
    transform: scale(1.1);
}


.bottom-pathway {
    margin-top: 0;
}

.pathway-name {
    color: var(--dark-navy);
    font-size: 1.4em;
    font-weight: 700;
    align-self: center;
    font-family: "Work Sans", Arial;
    line-height: 0;
}

p, .required-skills {
    color: var(--dark-navy);
    font-size: .8em;
    font-weight: 400;
    align-self: center;
    font-family: "Work Sans", Arial;
}

.pathway-skills-header {
    color: var(--dark-navy);
    font-size: 1em;
    line-height: 0;
    font-weight: 700;
    align-self: center;
    font-family: "Work Sans", Arial;
}

/* faq drop down */
.faq-section {
    width: 76%;
    margin: auto;
    padding-bottom: 2em;
}
.faq-subtitle {
    margin-bottom: 1em;
}

/* question */
.question {
    background-color:  var(--blue-white);

    color: var(--dark-navy);
    font-size: 1.5em;
    font-weight: 500;
    font-family: "Work Sans", Arial;

    cursor: pointer;
    padding: .7em;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: .4s;
}

.active, .question:hover {
    font-style: italic;
}

/* answer : hidden by default */
.answer-box {
    display: none;
    overflow: hidden;
    margin-left: 2.3em;
}

.answer {
    color: var(--dark-navy);
    font-size: 1.1em;
    font-weight: 400;
    font-family: "Work Sans", Arial;
    margin-top: 0;
}

/* testimonials */
.testimonials-section {
    width: 76%;
    margin: auto;
    padding-bottom: 2em;
}

.testimonials-subtitle {
    margin-bottom: 1em;
}

.testimonials {
    margin: auto;
    display: flex;
    gap: 2.3em;
    overflow: auto;
    white-space: nowrap;
}

.testimonial {
    border: .2em var(--dark-navy) solid;
    border-radius: 1.5em;
    padding: 1em;
    background-color: var(--light-blue-faded);
    white-space: normal;
    min-width: 25vw;
    box-shadow: 6px 6px 8px var(--light-blue-faded);
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-img {
    width: 100%; 
    height: auto; 
    clip-path: circle();
    object-fit: cover;
    margin-bottom: 1em;
}

.testimonial-name {
    color: var(--dark-navy);
    font-size: 1.5em;
    font-weight: 500;
    font-family: "Work Sans", Arial;
    margin: 0;
}

.testimonial-team {
    color: var(--dark-navy);
    font-size: 1em;
    font-weight: 400;
    font-family: "Work Sans", Arial;
    margin: 0;
    margin-top: .3em;
    text-align: center;
}

.testimonial-paragraph {
    color: var(--dark-navy);
    font-size: .9em;
}
