/* sponsors page main content */
.sponsors-content, .form-content{
    margin-top: 0;
    margin: auto;  
    align-items: center;
    background-color: var(--blue-white);
    padding-bottom: 2em;
}


/* thank you bubble */
.bubble {
    background-color: var(--baby-blue);
    border: .2em var(--dark-navy) solid; 
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    width: 77%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.bubble-text {
    color: var(--dark-navy);
    font-size: 1.8em;
    font-weight: 400;
    align-self: center;
    font-family: "Work Sans", Arial;
    line-height: 0;
}

/* sponsors page banner */
.sponsors-title {
    background-image: linear-gradient(to bottom, var(--baby-blue-less-opaque), var(--dark-navy-faded)), url('../banner-images/rocket-bg.avif');
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh; 
    cursor: url(../buttons/rocket.png), auto;
    margin-bottom: 50px;

 
}

/* sponsors grid */
.sponsors {
    width: 76%;
    margin: 3em auto; 
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
    gap: 1em;
}

 

.sponsor {
    border-radius: 1.5em;
    padding: 1em;
    white-space: normal;
    min-width: 18em;
    max-width: 25em;
}

.sponsor-img {
    margin: auto;  
    height: 15em;  
    min-width: 100%;
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 0 4px 8px var(--light-blue-faded);
    transition: transform 0.3s;
}

 
.sponsor-img:hover {
    transform: scale(1.1);
}

 
.sponsor-box {
    width: 100%;
    display: flex;
    justify-content: center;  
    margin: auto;  
    margin-bottom: 2em; 
}

 