:root {
    --dark-navy: rgba(18, 29, 57, 1);
    --dark-navy-faded: rgba(18, 29, 57, .6);
    --dark-navy-pale: rgba(18, 29, 57, .35);

    --light-blue: rgba(111, 123, 155, 1);
    --light-blue-faded: rgba(111, 123, 155, .6);
    --light-blue-pale: rgba(111, 123, 155 .35);


    --baby-blue: rgba(175, 185, 210, 1);
    --baby-blue-faded: rgba(175, 185, 210, .7);
    --baby-blue-pale: rgba(175, 185, 210 .35);

    --blue-white: rgba(226, 232, 244, 1);

    --nearly-white: rgba(242, 244, 251, 1);
}

/* sponsors page main content */
.sponsors-content, .form-content{
    margin-top: 0;
    margin: auto;  
    align-items: center;
    background-color: var(--blue-white);
    padding-bottom: 2em;
}


/* thank you bubble */
.bubble {
    background-color: var(--dusty-blue);
    border: .2em var(--dark-navy) solid; 
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    width: 77%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.bubble-text {
    color: var(--dark-navy);
    font-size: 1.8em;
    font-weight: 400;
    align-self: center;
    font-family: "Work Sans", Arial;
    line-height: 0;
}

/* sponsors page banner */
.sponsors-title {
    background-image: linear-gradient(to bottom, var(--baby-blue-less-opaque), var(--dark-navy-less-opaque)), url('../banner-images/rocket-bg.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;  
}

/* sponsors grid */
.sponsors {
    width: 76%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
}

.sponsor {
    border-radius: 1.5em;
    padding: 1em;
    white-space: normal;
    min-width: 20vw;
    
}

.sponsor-img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    border-radius: 1em;
    border: .2em var(--dark-navy) solid;
    box-shadow: 0px 0px 10px rgba(43, 44, 45, 0.584);

}

.sponsor-img:hover {
    transform: scale(1.15);
}

 