/* home page title */
.home-title {
    background-image: linear-gradient(to bottom, var(--baby-blue-less-opaque), var(--dark-navy-faded)), url("../banner-images/10.png");
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  
    cursor: url(../buttons/rocket.png), auto;

}

/* home page main content */
.home-content {
    margin: auto;  
    align-items: center;
    background-color:  var(--primary-color);
}

/* home page about container */
.home-page-about {
    width: 76%;
    padding-top: 60px;
    padding-bottom: 80px;
    margin: auto;
}

/* home page gallery container */
.home-page-gallery {
    padding-top: 20px;
    padding-bottom: 120px;
}

.gallery-panel-container {
    width: 76%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.home-mission-panel {
    flex: 0 0 calc(30% - 20px); 
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: var(--blue-white);
    border: 5px solid;
    border-radius: 20px;
    border-color: var(--dark-navy); 
    box-shadow: 0px 0px 20px var(--dark-navy-pale);
    color: var(--baby-blue); 
}

.home-mission-panel:hover {
    transform: scale(1.1);
}

.home-mission-panel img {
    max-width: 100%;
    height: auto;
}

/* home page team container */
.home-page-team {
    padding-top: 20px;
    padding-bottom: 80px;
    margin: auto;
}

.team-container {
    width: 76%;
    margin: auto;  
    background-color: var(--light-blue-faded);
    color: var(--dark-navy);
    padding: 40px;
    padding-bottom: 80px;
    border-radius: 30px;
}

.team-container p {
    color: rgb(236, 236, 241);
}

.team-container-white {
    width: 76%;
    margin: auto;  
    background-color: var(--nearly-white);
    border: 5px solid;

    border-radius: 20px;
    border-color: var(--light-blue-pale); 
    padding: 40px;
    padding-bottom: 80px;
    border-radius: 30px;
}

.home-page-team-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.home-page-team img {
    max-width: 50%;
    margin-right: 28px;
    height: auto;
}

/* home page collage container */
.home-page-collage {
    padding-top: 20px;
    padding-bottom: 80px;
    margin: auto;
}

.collage-container {
    width: 76%;
    margin: auto;
}

.home-collage {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
}

.home-collage img {
    max-width: 100%; 
    max-height: 250px;  
    margin: 6px;
}