:root {
    --dark-navy: rgba(18, 29, 57, 1);
    --medium-navy: rgb(53, 71, 117);
    --dark-navy-faded: rgba(18, 29, 57, .6);
    --dark-navy-pale: rgba(18, 29, 57, .35);

    --light-blue: rgba(111, 123, 155, 1);
    --light-blue-faded: rgba(111, 123, 155, .6);
    --light-blue-pale: rgba(111, 123, 155, .35);


    --baby-blue: rgba(175, 185, 210, 1);
    --baby-blue-less-opaque: rgba(225, 227, 234, 0.514);

    --baby-blue-faded: rgba(175, 185, 210, .7);
    --baby-blue-pale: rgba(175, 185, 210, .35);

    --blue-white: rgba(226, 232, 244, 1);

    --nearly-white: rgba(242, 244, 251, 1);
}


html, body {
    background-color: var(--blue-white);
    align-items: center;
    text-align: left;
    margin: 0;  
    padding: 0;  
    margin-top: .2em;
    color: var(--nearly-white);
    /* cursor:url(../rocket.png), auto; */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    height: 50px;
    background-color: var(--dark-navy-faded);  
    padding: 10px;
    position: fixed;  
    width: 100%;  
    top: 0;
    z-index: 1000;  
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.subheader, h2 {
    color: var(--medium-navy);
    font-size: 2.4em;
    font-weight: 700;
    align-self: center;
    font-family: "Work Sans", Arial;
    text-align: center;
}

.header-logo {
    max-width: 50px;
    max-height: 50px;
}

h1 {
    font-size: 100px;
    padding-top: 3.1em;
    color: var(--primary-color); 
    font-family: 'Bungee', Arial;
    font-weight: bold;
    text-shadow: 2px 2px 6px var(--dark-navy-faded);   
    text-align: center;
    animation: fadeInUp 0.5s forwards;
}

h3 {
    font-size: 24px;
    color: var(--light-blue);
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    color: var(--light-blue);
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

p {
    font-size: 18px;
    color: var(--baby-blue); 
    font-family: Arial;
}

a {
    color: var(--baby-blue); 
    font-weight: bold;
    text-decoration: none;
    /* cursor:url(../rocket-pointer.png), auto; */
}

a:hover {
    text-shadow: 0 0 16px var(--baby-blue), 0 0 20px var(--baby-blue), 0 0 30px var(--baby-blue);
}

/* home page title */
.home-title {
    background-image: linear-gradient(to bottom, var(--baby-blue-less-opaque), var(--dark-navy-faded)), url("../gallery/images/24/1.jpg");
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  
    cursor: url(../buttons/rocket.png), auto;
}

/* mobile screens */
@media (max-device-width: 750px) {
    .home-title {
        background-attachment: none;  
        height: auto;
        width: 100vw;
        background-size: contain;
        background-position: top;
    }
}



/* home page main content */
.home-content {
    margin: auto;  
    align-items: center;
    background-color:  var(--primary-color);
}

/* home page about container */
.home-page-about {
    width: 76%;
    padding-top: 60px;
    padding-bottom: 80px;
    margin: auto;
}

/* home page gallery container */
.home-page-gallery {
    padding-top: 20px;
    padding-bottom: 120px;
}

.gallery-panel-container {
    width: 76%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.home-mission-panel {
    flex: 0 0 calc(30% - 20px); 
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: var(--blue-white);
    border: 5px solid;
    border-radius: 20px;
    border-color: var(--dark-navy); 
    box-shadow: 0px 0px 20px var(--dark-navy-pale);
    color: var(--baby-blue); 
    color: red;
}

.home-mission-panel:hover {
    transform: scale(1.1);
}

.home-mission-panel img {
    max-width: 100%;
    height: auto;
}

/* home page team container */
.home-page-team {
    padding-top: 20px;
    padding-bottom: 80px;
    margin: auto;
}

.team-container {
    width: 76%;
    margin: auto;  
    background-color: var(--light-blue-faded);
    color: var(--dark-navy);
    padding: 40px;
    padding-bottom: 80px;
    border-radius: 30px;
}

.team-container-white {
    width: 76%;
    margin: auto;  
    background-color: var(--nearly-white);
    border: 5px solid;

    border-radius: 20px;
    border-color: var(--light-blue-pale); 
    padding: 40px;
    padding-bottom: 80px;
    border-radius: 30px;
}

.home-page-team-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.home-page-team img {
    max-width: 50%;
    margin-right: 28px;
    height: auto;
}

/* home page collage container */
.home-page-collage {
    padding-top: 20px;
    padding-bottom: 80px;
    margin: auto;
}

.collage-container {
    width: 76%;
    margin: auto;
}

.home-collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;
    height: 18em;
    width: 100%;
}

.home-collage img {
    max-height: 10em;
    max-width: auto;
    margin: .5em;
}



@media screen and (max-width: 750px) {
    .home-collage img {
        max-height: 8em;
    }
}
