:root {
    --dark-background-color: black;
    --background-color: #f8fafc;
    --primary-color: white;
    --secondary-color: rgb(40, 63, 97);
    --accent-color: rgba(165, 204, 239, 0.931);
    --dark-accent-color: rgba(40, 51, 93, 0.802);
    --nav-bg-color: rgba(0, 0, 0, 0.75);
    --button-bg-color: rgba(217, 213, 232, 0.135);
    --button-text-color: rgba(139, 156, 205, 0.341);
    --panel-bg-color: rgba(210, 218, 235, 0.823);
    --panel-border-color: rgb(40, 63, 97);
    --shadow-color: rgba(43, 44, 45, 0.584);
    --footer-bg-color: rgb(4, 1, 23);
    --footer-text-color: rgba(217, 222, 234, 1);
    --footer-text-color-faded: rgba(217, 222, 234, .25);
    --container-background: rgba(171, 180, 207, .405);
    --box-color: rgb(166, 176, 200);
    --box-border-color: rgb(91, 100, 122);
}

html, body {
    background-color: var(--dark-background-color);
    align-items: center;
    text-align: left;
    margin: 0;  
    padding: 0;  
    margin-top: 50px;
    color: var(--primary-color);
    cursor:url(../rocket.png), auto;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    height: 50px;
    background-color: var(--nav-bg-color);  
    padding: 10px;
    position: fixed;  
    width: 100%;  
    top: 0;
    z-index: 1000;  
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.header-logo {
    max-width: 50px;
    max-height: 50px;
}

h1 {
    font-size: 100px;
    padding-top: 300px;
    color: var(--primary-color); 
    font-family: 'Bungee', Arial;
    font-weight: bold;
    text-shadow: 2px 2px 6px var(--dark-accent-color);   
    text-align: center;
    animation: fadeInUp 0.5s forwards;
}

h2 {
    font-size: 32px;
    color: var(--secondary-color); 
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 24px;
    color: var(--secondary-color); 
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

p {
    font-size: 18px;
    color: var(--secondary-color); 
    font-family: Arial;
}

a {
    color: var(--secondary-color); 
    font-weight: bold;
    text-decoration: none;
    cursor:url(../rocket-pointer.png), auto;
}

a:hover {
    text-shadow: 0 0 16px var(--accent-color), 0 0 20px var(--accent-color), 0 0 30px var(--accent-color);
}

/* navigation bar */
nav {
    display: flex;
    padding-right: 30px;
}

nav li {
    display: inline-block;
}

nav li a{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 24px;
    padding: 0px 26px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 3px 10px var(--accent-color);  
    font-family: "Work Sans", sans-serif;
}

nav li a:hover {
    text-shadow: 0 0 16px var(--accent-color), 0 0 20px var(--accent-color), 0 0 30px var(--accent-color);
    transition: text-shadow 0.2s ease;  
}

nav li a.active {
    text-shadow: 0 0 16px var(--accent-color), 0 0 20px var(--accent-color), 0 0 30px var(--accent-color);
    font-style: italic;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark-background-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1;
}

.nav-dropdown-content a {
    display: block;
    padding: 10px;
    font-size: 20px;
}

/* home page title */
.home-title {
    background-image: linear-gradient(to bottom, var(--button-bg-color), var(--button-text-color)), url("../banner-images/rocket-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  
}

/* home page main content */
.home-content {
    margin: auto;  
    align-items: center;
    background-color:  var(--background-color);
}

/* home page about container */
.home-page-about {
    width: 76%;
    padding-top: 60px;
    padding-bottom: 80px;
    margin: auto;
}

/* home page gallery container */
.home-page-gallery {
    padding-top: 20px;
    padding-bottom: 120px;
}

.gallery-panel-container {
    width: 76%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.home-mission-panel {
    flex: 0 0 calc(30% - 20px); 
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: var(--panel-bg-color);
    border: 5px solid;
    border-radius: 20px;
    border-color: var(--panel-border-color); 
    box-shadow: 0px 0px 20px var(--shadow-color);
    color: var(--secondary-color); 
}

.home-mission-panel:hover {
    transform: scale(1.1);
}

.home-mission-panel img {
    max-width: 100%;
    height: auto;
}

.home-mission-panel h3 {
    font-size: 28px;
    color: var(--secondary-color); 
}

/* home page team container */
.home-page-team {
    padding-top: 20px;
    padding-bottom: 80px;
    margin: auto;
}

.team-container {
    width: 76%;
    margin: auto;  
    background-color: var(--container-background);
    padding: 40px;
    padding-bottom: 80px;
    border-radius: 30px;
}

.team-container-white {
    width: 76%;
    margin: auto;  
    background-color: white;
    border: 5px solid;

    border-radius: 20px;
    border-color: var(--box-color); 
    padding: 40px;
    padding-bottom: 80px;
    border-radius: 30px;
}

.home-page-team-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.home-page-team img {
    max-width: 50%;
    margin-right: 28px;
    height: auto;
}

/* home page collage container */
.home-page-collage {
    padding-top: 20px;
    padding-bottom: 80px;
    margin: auto;
}

.collage-container {
    width: 76%;
    margin: auto;
}

.home-collage {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
}

.home-collage img {
    max-width: 100%; 
    max-height: 250px;  
    margin: 6px;
}

/* footer content */
footer {
    height: 160px;
    display: flex;
    background-color: var(--footer-bg-color);
    border-top: .05em var(--primary-color) solid;
    align-items: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-content {
    display: flex;
    margin: auto;
    align-items: center;
    align-content: space-between;
    gap: 15vw;
}

.footer-link, .footer-left p, .footer-center p {
    font-family: "Work Sans", Arial;
    color: var(--footer-text-color);
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
}
 
.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-right {
    display: flex;
    gap: 60px;
}

.links-left, .links-right {
    display: flex;
    flex-direction: column;
    line-height: 300%;
}

.footer-logo {
    max-width: auto;
    max-height: 90px;
    margin-bottom: -1em;
}

.home-content p {
    font-size: 18px;
}

.testimonials-section p {
    font-size: 1em;
}

/* 
@media screen and (max-width: 480px) {
    .home-page-about {
        width: 100%;
    }
} */
