:root {
    --dark-background-color: black;
    --background-color: #f8fafc;
    --primary-color: white;
    --secondary-color: rgb(40, 63, 97);
    --accent-color: rgba(165, 204, 239, 0.931);
    --dark-accent-color: rgba(40, 51, 93, 0.802);
    --nav-bg-color: rgba(0, 0, 0, 0.75);
    --button-bg-color: rgba(217, 213, 232, 0.135);
    --button-text-color: rgba(139, 156, 205, 0.341);
    --panel-bg-color: rgba(210, 218, 235, 0.823);
    --panel-border-color: rgb(40, 63, 97);
    --shadow-color: rgba(43, 44, 45, 0.584);
    --footer-bg-color: rgb(4, 1, 23);

    --footer-text-color: rgba(217, 222, 234, 1);
    --footer-text-color-faded: rgba(217, 222, 234, .25);

    --container-background: rgba(171, 180, 207, .405);
    --box-color: rgb(166, 176, 200);
    --box-border-color: rgb(91, 100, 122);
}


h2, p {
    font-family: "Work Sans", Arial;
}
.team-title {
    background-image: linear-gradient(to bottom, var(--button-bg-color), var(--button-text-color)), url("../banner-images/team-photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  
}

/* team page main content */
.team-content {
    background-color: var(--background-color);
    padding-top: 60px;
}

.team-type-container {
    width: 76%;
    margin: auto;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.team-member {
    width: 28%;
    margin: 30px;  
    text-align: center;
}

.team-member img {
    border-radius: 50%;  
    width: 100%;  
    height: auto;
    margin-bottom: 8px;
}

.team-member h2 {
    font-size: 24px;
}

.team-member p {
    font-size: 18px;
    margin: 0px;
    margin-top: 10px;
}
