:root {
    --dark-navy: rgba(18, 29, 57, 1);
    --dark-navy-faded: rgba(18, 29, 57, .6);
    --dark-navy-pale: rgba(18, 29, 57, .35);

    --light-blue: rgba(111, 123, 155, 1);
    --light-blue-faded: rgba(111, 123, 155, .6);
    --light-blue-pale: rgba(111, 123, 155 .35);


    --baby-blue: rgba(175, 185, 210, 1);
    --baby-blue-faded: rgba(175, 185, 210, .7);
    --baby-blue-pale: rgba(175, 185, 210 .35);

    --blue-white: rgba(226, 232, 244, 1);

    --nearly-white: rgba(242, 244, 251, 1);
}



h2, p {
    font-family: "Work Sans", Arial;
}
.team-title {
    background-image: linear-gradient(to bottom, var(--baby-blue-less-opaque), var(--dark-navy-less-opaque)), url("../banner-images/17.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  
}

/* team page main content */
.team-content {
    background-color: var(--nearly-white);
    padding-top: 60px;
}

.team-type-container {
    width: 76%;
    margin: auto;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.team-member {
    width: 28%;
    margin: 30px;  
    text-align: center;
}

.team-member img {
    border-radius: 50%;  
    width: 100%;  
    height: auto;
    margin-bottom: 8px;
}

.team-member h2 {
    font-size: 24px;
}

.team-member p {
    font-size: 18px;
    margin: 0px;
    margin-top: 10px;
}
